## File-Seeking
Working out the difference between Starform and Timeform datasets.

In [2]:
# set up, imports and configuration
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# plt.rcParams['agg.path.chunksize'] = 10000
plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['font.family'] = 'sans-serif'

In [4]:
starform_df    = pd.read_csv("/home/benjamin/Documents/form_study/data/starform/resultsdata/results2000.csv")
tf_raw_df      = pd.read_csv("/home/benjamin/Documents/form_study/data/timeform/csv/raw/results2000.csv")
tf_complete_df = pd.read_csv("/home/benjamin/Documents/form_study/data/timeform/csv/merged/complete2000.csv")
wintimes_df    = pd.read_csv("/home/benjamin/Documents/form_study/analysis/deepmine/csv/wintimes.csv")

In [22]:
print(starform_df.shape)
print(tf_raw_df.shape)
print(tf_complete_df.shape)
print(wintimes_df.shape)

(123817, 38)
(103130, 19)
(103162, 39)
(170727, 11)

In [32]:
starform_df.head()

,trainer,racetime,weight,o_r,ran,or_range,racehorse,rcid,racetype,agerange,...,distance,jkid,prize,pounds,age,isp,place,position,racetitle,allowance
0,paul-nolan,345,11-9,NaN,15,NaN,peggybarry,228,nh-flat,6yo+,...,2m,3713.0,"€5,476",163,7,11.0,NaN,1,radley engineering i.n.h. flat,7.0
1,w-j-burke,345,12-0,NaN,15,NaN,avondale-illusion,228,nh-flat,6yo+,...,2m,1565.0,"€5,476",168,8,3.0,NaN,2,radley engineering i.n.h. flat,NaN
2,timothy-doyle,345,11-9,NaN,15,NaN,chermesina,228,nh-flat,6yo+,...,2m,7686.0,"€5,476",163,6,17.0,NaN,3,radley engineering i.n.h. flat,3.0
3,augustine-leahy,345,11-9,NaN,15,NaN,banogue-lass,228,nh-flat,6yo+,...,2m,4401.0,"€5,476",163,6,4.5,NaN,4,radley engineering i.n.h. flat,7.0
4,w-power,345,12-0,NaN,15,NaN,marico,228,nh-flat,6yo+,...,2m,3803.0,"€5,476",168,7,21.0,NaN,5,radley engineering i.n.h. flat,7.0

In [10]:
tf_raw_df.head()

,trainer,draw,weight,racehorse,bsp,offrtg,rhID,distbtn,jockey,raceID,age,isp,lo_ir,hi_ir,place,totdistbtn,eqpmnt,position,allwnce
0,M. C. Pipe,NaN,162,Cotteir Chief (IRE),NaN,NaN,51667,NaN,A. P. McCoy,1110001151,9,1.91,NaN,NaN,NaN,0.0,NaN,1,NaN
1,Charlie Mann,NaN,158,Hadidi,NaN,NaN,72977,7.0,Jamie Magee,1110001151,6,8.00,NaN,NaN,NaN,7.0,NaN,2,NaN
2,Nicky Henderson,NaN,158,Boro Sovereign (IRE),NaN,NaN,92385,9.0,Mick Fitzgerald,1110001151,7,2.88,NaN,NaN,NaN,16.0,NaN,3,NaN
3,Michael Roberts,NaN,154,Supreme Irony (IRE),NaN,NaN,110016,9.0,Robert Thornton,1110001151,7,67.00,NaN,NaN,NaN,25.0,NaN,4,NaN
4,Ralph Smith,NaN,154,Buzzi Boy,NaN,NaN,130996,0.2,D. Walsh,1110001151,8,67.00,NaN,NaN,NaN,25.2,NaN,5,NaN

In [11]:
tf_complete_df.head()

,Unnamed: 0,distance,racecourse,disttext,raceID,racetype,raceno,racelink,racedate,runners,...,jockey,age,isp,lo_ir,hi_ir,place,totdistbtn,eqpmnt,position,allwnce
0,0,20.0,1,2m4f,1110001151,Novices' Hurdle,1,1.1.1000115.1,2000-01-15,7.0,...,A. P. McCoy,9.0,1.91,NaN,NaN,NaN,0.0,NaN,1,NaN
1,1,20.0,1,2m4f,1110001151,Novices' Hurdle,1,1.1.1000115.1,2000-01-15,7.0,...,Jamie Magee,6.0,8.00,NaN,NaN,NaN,7.0,NaN,2,NaN
2,2,20.0,1,2m4f,1110001151,Novices' Hurdle,1,1.1.1000115.1,2000-01-15,7.0,...,Mick Fitzgerald,7.0,2.88,NaN,NaN,NaN,16.0,NaN,3,NaN
3,3,20.0,1,2m4f,1110001151,Novices' Hurdle,1,1.1.1000115.1,2000-01-15,7.0,...,Robert Thornton,7.0,67.00,NaN,NaN,NaN,25.0,NaN,4,NaN
4,4,20.0,1,2m4f,1110001151,Novices' Hurdle,1,1.1.1000115.1,2000-01-15,7.0,...,D. Walsh,8.0,67.00,NaN,NaN,NaN,25.2,NaN,5,NaN

In [23]:
wintimes_df.head()

,Unnamed: 0,raceID,racedate,racecourse,distance,going,raceclass,racetype,racetype2,age_cond,wintime
0,0,1.110001e+09,2000-01-15,1.0,20.0,good-soft,3.0,Novices' Hurdle,Hurdle,5yo+,324.91
1,7,1.110001e+09,2000-01-15,1.0,19.5,good-soft,2.0,Handicap Chase,Chase,5yo+,309.59
2,12,1.110001e+09,2000-01-15,1.0,16.0,good-soft,1.0,Handicap Chase,Chase,5yo+,244.63
3,22,1.110001e+09,2000-01-15,1.0,16.5,good-soft,2.0,Handicap Hurdle,Hurdle,4yo+,255.31
4,29,1.110001e+09,2000-01-15,1.0,24.5,good-soft,2.0,Novices' Chase,Chase,5yo+,398.33

In [24]:
print(starform_df.columns, tf_raw_df.columns, tf_complete_df.columns, wintimes_df.columns)

(Index([u'trainer', u'racetime', u'weight', u'o_r', u'ran', u'or_range',
       u'racehorse', u'rcid', u'racetype', u'agerange', u'racecode',
       u'wintime', u'racedate', u'raceclass', u'distbtn', u'racecourse',
       u'jockey', u'eq', u'lo_ir', u'hi_ir', u'going', u'totdistbtn', u'trid',
       u'draw', u'raceno', u'bsp', u'furlongs', u'rhid', u'distance', u'jkid',
       u'prize', u'pounds', u'age', u'isp', u'place', u'position',
       u'racetitle', u'allowance'],
      dtype='object'), Index([u'trainer', u'draw', u'weight', u'racehorse', u'bsp', u'offrtg',
       u'rhID', u'distbtn', u'jockey', u'raceID', u'age', u'isp', u'lo_ir',
       u'hi_ir', u'place', u'totdistbtn', u'eqpmnt', u'position', u'allwnce'],
      dtype='object'), Index([u'Unnamed: 0', u'distance', u'racecourse', u'disttext', u'raceID',
       u'racetype', u'raceno', u'racelink', u'racedate', u'runners',
       u'ind_ovrnd', u'bf_ovrnd', u'prize', u'ran', u'gender', u'racetitle',
       u'going', u'racetype2', u'wintime', u'raceclass', u'age_cond',
       u'trainer', u'draw', u'weight', u'racehorse', u'bsp', u'offrtg',
       u'rhID', u'distbtn', u'jockey', u'age', u'isp', u'lo_ir', u'hi_ir',
       u'place', u'totdistbtn', u'eqpmnt', u'position', u'allwnce'],
      dtype='object'), Index([u'Unnamed: 0', u'raceID', u'racedate', u'racecourse', u'distance',
       u'going', u'raceclass', u'racetype', u'racetype2', u'age_cond',
       u'wintime'],
      dtype='object'))

In [34]:
starform_df.loc[0:4].T

,0,1,2,3,4
trainer,paul-nolan,w-j-burke,timothy-doyle,augustine-leahy,w-power
racetime,345,345,345,345,345
weight,11-9,12-0,11-9,11-9,12-0
o_r,NaN,NaN,NaN,NaN,NaN
ran,15,15,15,15,15
or_range,NaN,NaN,NaN,NaN,NaN
racehorse,peggybarry,avondale-illusion,chermesina,banogue-lass,marico
rcid,228,228,228,228,228
racetype,nh-flat,nh-flat,nh-flat,nh-flat,nh-flat
agerange,6yo+,6yo+,6yo+,6yo+,6yo+
racecode,bumper,bumper,bumper,bumper,bumper
wintime,281.3,281.3,281.3,281.3,281.3
racedate,2000-01-01,2000-01-01,2000-01-01,2000-01-01,2000-01-01
raceclass,NaN,NaN,NaN,NaN,NaN
distbtn,0,8,8,0.75,1
racecourse,tramore,tramore,tramore,tramore,tramore
jockey,mr-j-l-cullen,mr-p-fenton,tom-doyle,mr-r-flavin,mr-j-g-sheehan
eq,NaN,NaN,NaN,NaN,NaN
lo_ir,-,NaN,NaN,NaN,NaN
hi_ir,NaN,-,-,-,-
going,Heavy,Heavy,Heavy,Heavy,Heavy
totdistbtn,0,8,16,16.75,17.75
trid,11709,1056,45173,1663,9437
draw,NaN,NaN,NaN,NaN,NaN
raceno,7,7,7,7,7
bsp,NaN,NaN,NaN,NaN,NaN
furlongs,16,16,16,16,16
rhid,127635,97740,125216,128797,103954
distance,2m,2m,2m,2m,2m
jkid,3713,1565,7686,4401,3803
prize,"€5,476","€5,476","€5,476","€5,476","€5,476"
pounds,163,168,163,163,168
age,7,8,6,6,7
isp,11,3,17,4.5,21
place,NaN,NaN,NaN,NaN,NaN
position,1,2,3,4,5
racetitle,radley engineering i.n.h. flat,radley engineering i.n.h. flat,radley engineering i.n.h. flat,radley engineering i.n.h. flat,radley engineering i.n.h. flat
allowance,7,NaN,3,7,7

In [35]:
wintimes_df.loc[0:4].T

,0,1,2,3,4
Unnamed: 0,0,7,12,22,29
raceID,1.11e+09,1.11e+09,1.11e+09,1.11e+09,1.11e+09
racedate,2000-01-15,2000-01-15,2000-01-15,2000-01-15,2000-01-15
racecourse,1,1,1,1,1
distance,20,19.5,16,16.5,24.5
going,good-soft,good-soft,good-soft,good-soft,good-soft
raceclass,3,2,1,2,2
racetype,Novices' Hurdle,Handicap Chase,Handicap Chase,Handicap Hurdle,Novices' Chase
racetype2,Hurdle,Chase,Chase,Hurdle,Chase
age_cond,5yo+,5yo+,5yo+,4yo+,5yo+
wintime,324.91,309.59,244.63,255.31,398.33

In [36]:
tf_complete_df.loc[0:4].T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
distance,20,20,20,20,20
racecourse,1,1,1,1,1
disttext,2m4f,2m4f,2m4f,2m4f,2m4f
raceID,1110001151,1110001151,1110001151,1110001151,1110001151
racetype,Novices' Hurdle,Novices' Hurdle,Novices' Hurdle,Novices' Hurdle,Novices' Hurdle
raceno,1,1,1,1,1
racelink,1.1.1000115.1,1.1.1000115.1,1.1.1000115.1,1.1.1000115.1,1.1.1000115.1
racedate,2000-01-15,2000-01-15,2000-01-15,2000-01-15,2000-01-15
runners,7,7,7,7,7
ind_ovrnd,110,110,110,110,110
bf_ovrnd,NaN,NaN,NaN,NaN,NaN
prize,7000,7000,7000,7000,7000
ran,7,7,7,7,7
gender,NaN,NaN,NaN,NaN,NaN
racetitle,Geoffrey Hamlyn Memorial Novices' Hurdle (C),Geoffrey Hamlyn Memorial Novices' Hurdle (C),Geoffrey Hamlyn Memorial Novices' Hurdle (C),Geoffrey Hamlyn Memorial Novices' Hurdle (C),Geoffrey Hamlyn Memorial Novices' Hurdle (C)
going,good-soft,good-soft,good-soft,good-soft,good-soft
racetype2,Hurdle,Hurdle,Hurdle,Hurdle,Hurdle
wintime,324.91,324.91,324.91,324.91,324.91
raceclass,C,C,C,C,C
age_cond,5yo+,5yo+,5yo+,5yo+,5yo+
trainer,M. C. Pipe,Charlie Mann,Nicky Henderson,Michael Roberts,Ralph Smith
draw,NaN,NaN,NaN,NaN,NaN
weight,162,158,158,154,154
racehorse,Cotteir Chief (IRE),Hadidi,Boro Sovereign (IRE),Supreme Irony (IRE),Buzzi Boy
bsp,NaN,NaN,NaN,NaN,NaN
offrtg,NaN,NaN,NaN,NaN,NaN
rhID,51667,72977,92385,110016,130996
distbtn,NaN,7,9,9,0.2
jockey,A. P. McCoy,Jamie Magee,Mick Fitzgerald,Robert Thornton,D. Walsh
age,9,6,7,7,8
isp,1.91,8,2.88,67,67
lo_ir,NaN,NaN,NaN,NaN,NaN
hi_ir,NaN,NaN,NaN,NaN,NaN
place,NaN,NaN,NaN,NaN,NaN
totdistbtn,0,7,16,25,25.2
eqpmnt,NaN,NaN,NaN,NaN,NaN
position,1,2,3,4,5
allwnce,NaN,NaN,NaN,NaN,NaN

In [38]:
wintimes_df.tail()

,Unnamed: 0,raceID,racedate,racecourse,distance,going,raceclass,racetype,racetype2,age_cond,wintime
170722,115035,1.222115e+11,2015-12-31,222.0,16.0,heavy,NaN,Novices' Hurdle,Hurdle,3yo,257.5
170723,115045,1.222115e+11,2015-12-31,222.0,24.0,heavy,NaN,Novices' Hurdle (Grade 2),Hurdle,4yo+,373.6
170724,115051,1.222115e+11,2015-12-31,222.0,20.0,heavy,NaN,Handicap Hurdle,Hurdle,4yo+,334.9
170725,115059,1.222115e+11,2015-12-31,222.0,16.0,heavy,NaN,Amateur Riders' Handicap Hurdle,Hurdle,4yo+,261.5
170726,115071,1.222115e+11,2015-12-31,222.0,18.0,heavy,NaN,Maiden National Hunt Flat,National Hunt Flat,4yo,284.8

In [41]:
starform2016 = pd.read_csv("/home/benjamin/Documents/form_study/data/starform/resultsdata/results2016.csv")

In [43]:
starform2016.racedate.tail()

58418    2016-06-30
58419    2016-06-30
58420    2016-06-30
58421    2016-06-30
58422    2016-06-30
Name: racedate, dtype: object

## Conclusion

Working as a detective from the above I think that the complete timeform dataset was used as the basis for calculating wintimes. Though not used as the basis for calculating wintimes, I think the starform dataset was the most recently scraped up to 30-06-2015.